</div>
    <div class="footer">
      <div class="footer-links">
        <a href="https://www.instagram.com/emmysck_art/" target="_blank"><i class="fab fa-instagram"></i></a>
        <a href="https://www.twitch.tv/ferkoxgg" target="_blank"><i class="fab fa-facebook"></i></a>
        <a href="https://www.instagram.com/camilaveravalenzuela/" target="_blank"><i class="fab fa-twitter"></i></a>
        <a href="https://www.linkedin.com/in/%C3%A1lvaro-medina-734a63190" target="_blank"><i class="fab fa-linkedin"></i></a>
      </div>
    <div class="footer-copyright">
      made with <i class="fas fa-heart"></i> at Now
    </div>
 </div>