<h1> Asociaciones </h1>

<div class="container">
  <div class="card-product">
    <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
    <div class="card-product-infos">
      <h2>Association name</h2>
      <p>Association description</p>
    </div>
  </div>
  <div class="card-product">
    <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
    <div class="card-product-infos">
      <h2>Association name</h2>
      <p>Association description</p>
    </div>
  </div>
</div>
