<br />
<div class="container">
  <h1> Asociaciones </h1>

      <div class="container">
        <div class="card-product">
          <img src="https://res.cloudinary.com/am-soporte/image/upload/v1631734969/pablo-merchan-montes-Orz90t6o0e4-unsplash_adf0e1.jpg" />
          <div class="card-product-infos">
            <p>Resuelve la trazabilidad de los vencimientos en tienda con un código certificado por GS1.</p>
            <p>Utiliza data análisis para obtener la mejor acción para maximizar beneficios y minimizar la merma.</p>
            <p>Genera alertas y tareas para los repositores en tienda.</p>
          </div>
        </div>
      </div>
</div>
<br />