  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/background.png);">
      <div class="container">
        <h1>Comienza a salvar deliciosa comida a precios reducidos</h1>
        <p>Now es la forma más simple y directa para ayudar a lograrlo. Simplemente navega en nuestra web y empieza a salvar el excedente de comida de tus establecimientos más cercanos.</p>
        <%= link_to "Comienza ya!", "/allotments", class: "btn btn-flat" %>
      </div>
  </div>
  <br />
  
<div class="container">
  <div class="card-trip px-3">
    <div class="card-trip-title">
        <h1>Unete al movimiento contra el desperdicio de alimentos</h1>
    </div>

    <div class="card-trip-infos">
      <div class="">
        <h2>Title one</h2>
        <p>Short description here!</p>
      </div>
      <div>
        <h2>Title one</h2>
        <p>Short description here!</p>
      </div>
      <div>
        <h2>Title one</h2>
        <p>Short description here!</p>
      </div>
    </div>
  </div>

    <div class="cards" >
    <% @categories.each do |category| %>
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
        <%= link_to category, allotments_path(:category => category)  %>
      </div>
    <% end %>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
        <%= link_to 'Todas las categorias', allotments_path  %>
      </div>
</div>
</div>
<br/>
<br/>



<div class="row">
    <div class="col-sm-6" style="width: 18rem; display: flex;">
    <div class="card">
        <div class="card-trip">
            <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
            <div class="card-trip-infos">
              <div>
                <h2>Title here</h2>
                <p>Short description here!</p>
              </div>
            <h2 class="card-trip-pricing">£99.99</h2>
            <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
          </div>
        </div>
      </div>
    <br/>
</div>
    <br/>
</div>
  <br />
</div>



</div>
    <div class="footer">
      <div class="footer-links">
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-facebook"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-linkedin"></i></a>
      </div>
    <div class="footer-copyright">
      made with <i class="fas fa-heart"></i> at Now
    </div>
  <br />
  <br />
</div>