  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/dsmtchuwt/image/upload/v1632421590/B3KTPXPTCVHEHNYEOWCKLTBXL4_vcwfa8.jpg);">
      <div class="container">
        <h1>Comienza a salvar deliciosa comida a precios reducidos</h1>
        <p>Now es la forma más simple y directa para ayudar a lograrlo. Simplemente navega en nuestra web y empieza a salvar el excedente de comida de tus establecimientos más cercanos.</p>
        <%= link_to "Comienza ya!", "/allotments", class: "btn btn-flat" %>
      </div>
  </div>
  <br />
  
<div class="container">
  <div class="card-trip px-3">
    <div class="card-trip-title">
        <h1>Beneficios para supermercados<br>y proveedores.</h1>
    </div>

    <div class="card-trip-infos">
      <div>
        <h2>✅ Reduce las devoluciones y el desperdicio</h2>
      </div>
      <div>
        <h2>✅ Mejora la gestión del personal en la tienda</h2>
      </div>
      <div>
        <h2>✅ Minimiza el impacto social y ambiental</h2>
      </div>
      <div>
        <h2>✅ Mejora los márgenes en la industria</h2>
      </div>
    </div>  
  </div>

 <br />
  <div class="card-product">  
  
   <video width="640" height="360" controls loop autoplay muted>
    <source src="https://res.cloudinary.com/dsmtchuwt/video/upload/v1632426199/Now_opcion_3_opxojz.mp4?autoplay=1&loop=1&autopause=0" type="video/mp4">
   </video>
   
    <div class="card-product-infos">
      <p>Queremos generar soluciones efectivas para disminuir el desperdicio alimentario y transformar la industria para que pueda ser cada vez más sustentable.</p>
       </div>
  </div>
<br />


  <div class="row">
    <div class="col-4" >
      <div class="card-trip">
        <img src="https://images.unsplash.com/photo-1571230389215-b34a89739ef1?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=426&q=80" />
        <div class="card-trip-infos">
          <div>
            <h2>Yogurth</h2>
            <p>Revisa en ofertas</p>
            <%= link_to "Ofertas", "/allotments", class: "btn btn-flat" %>
          </div>
        </div>    
      </div>
    </div>
    <div class="col-4" >
      <div class="card-trip">
        <img src="https://images.unsplash.com/photo-1588195538326-c5b1e9f80a1b?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80" />
        <div class="card-trip-infos">
          <div>
            <h2>Torta</h2>
            <p>Revisa en ofertas</p>
            <%= link_to "Ofertas", "/allotments", class: "btn btn-flat" %>            
          </div>
        </div>    
      </div>
    </div>
    <div class="col-4" >
      <div class="card-trip">
        <img src="https://images.unsplash.com/photo-1550617931-e17a7b70dce2?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=870&q=80" />
        <div class="card-trip-infos">
          <div>
            <h2>Cup cake</h2>
            <p>Revisa en ofertas</p>
            <%= link_to "Ofertas", "/allotments", class: "btn btn-flat" %>
          </div>
        </div>    
      </div>
    </div>    
    
  </div>

  </div>  

  <br/>
  <br/>

