<br />
<div class="container">
  <h1>&nbsp Trabaja con nosotros </h1>

      <div class="container">
        <div class="card-product">
          <video width="640" height="360" controls loop autoplay muted>
          <source src="https://res.cloudinary.com/dsmtchuwt/video/upload/v1632426801/trabaja_2_qet7uv.mp4?autoplay=1&loop=1&autopause=0" type="video/mp4">
          </video>
          <div class="card-product-infos">
            <p>Unete a nustro proyecto.</p>
            <p>Aporta al planeta ayudando a minimizar las perdidas de comida.</p>
            <p>Sumate y marca la diferencia!</p>
            <p>Te esperamos en <%= link_to "contactanos", new_message_path %></p>
          </div>
        </div>
      </div>
</div>
<br />