<br />
<div class="container">
  <h1> Trabaja con nosotros </h1>

      <div class="container">
        <div class="card-product">
          <img src="https://images.unsplash.com/photo-1423666639041-f56000c27a9a?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=874&q=80" />
          <div class="card-product-infos">
            <p>Unete a nustro proyecto.</p>
            <p>Aporta al planeta ayudando a minimizar las perdidas de comida.</p>
            <p>Sumate y marca la diferencia!</p>
            <p>Te esperamos en contactanos.</p>
          </div>
        </div>
      </div>
</div>
<br />