.navbar-lewagon {
    justify-content: space-between;
    background: white;
    text-align: center;

}

.nav-link {
    color: orange;
}

.navbar-lewagon .navbar-collapse {
    flex-grow: 0;
 
}

.navbar-lewagon .navbar-brand img {
    width: 150px;
}

.navbar-lewagon-link {
    display: flex;
    justify-content: center;
}
.navbar-lewagon-link li {
    text-decoration: none;
}

.navbar-lewagon-link a {
    color: orange;
    font-weight: 500;
}

.navbar-lewagon-link.dropdown li {
    text-decoration: none;
}

