<div class="cover mb-4 d-flex align-items-center justify-content-center">
  <div class="text-center text-black">
       <h3 class="typed-js"></h3>
  </div>
</div>

<div class="container py-5">
  <div class="d-flex align-items-center justify-content-between mb-3">
    <% if @category.nil? %>
    <h3 class="mb-0">Todas las categorias</h3>
    <% else %>
    <h3 class="mb-0">Lotes de productos en categoria '<%= @category %>'</h3>
    <% end %>
  </div>
  <div class="row">
    <% @allotments.each do |allotment| %>
      <div class="co-12 colsm-6 col-md-4 mb-3">
        <%= link_to allotment_path(allotment), class:'text-decoration-none' do %>
          <div class="card-category" data-aos="zoom-in" style="background: #EE6D5B">
            <%= allotment.name %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
