<div class="cover mb-4 d-flex align-items-center justify-content-center">
  <div class="text-center text-black">
       <h3 class="typed-js"></h3>
  </div>
</div>

<div class="container py-5">
  <div class="d-flex align-items-center justify-content-between mb-3">
    <% if @category.nil? %>
    <h3 class="mb-0">Todas las categorias</h3>
    <% else %>
    <h3 class="mb-0">Lotes de productos en categoria '<%= @category %>'</h3>
    <% end %>
  </div>
  <div class="row">
    <% @allotments.each do |allotment| %>
      <div class="co-12 colsm-6 col-md-4 mb-3">
        <%= link_to allotment_path(allotment), class:'text-decoration-none' do %>
<<<<<<< HEAD
          <div class="card-category" data-aos="zoom-in" style="background: #EE6D5B">
=======
          <div class="card-category" data-aos="zoom-in">
>>>>>>> 6e8823035474bea3d57b3ca8135c8965c6e3a172
            <%= allotment.name %>
            <% if allotment.image_url.nil? %>
                <%= image_tag ("https://images.unsplash.com/photo-1534531304203-b830551771b9?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxzZWFyY2h8NDB8fHNrYXRlYm9hcmR8ZW58MHwwfDB8&auto=format&fit=crop&w=500&q=60") %>
              <% else %>
                
              <% end %>

          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
